{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% include "includes/_meta.html" %}
    <link rel="preload" as="image" href="{% static 'img/5.webp' %}">
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% block extra_css %}{% endblock %}
</head>
<body>

    <div class="site-wrapper">
        {% include "includes/_header.html" %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% include "includes/_footer.html" %}
    </div>

    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
