{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% include "includes/_meta.html" %}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>

    <div class="site-wrapper">
        {% include "includes/_header.html" %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% include "includes/_footer.html" %}
    </div>

    <script src="{% static 'js/base_module.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
