/* =========================================
   FONTS DEFINITIONS
   ========================================= */

/* --- Lato (Sans-Serif) --- */

/* Regular */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-display: swap;
}

/* Italic */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
    font-display: swap;
}

/* Bold Italic */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
    font-display: swap;
}

/* Light (300) */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Lato-Light.ttf') format('truetype');
    font-display: swap;
}

/* --- Playfair Display (Serif) --- */

/* Regular */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-display: swap;
}

/* Italic */
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-display: swap;
}

/* Bold Italic */
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-display: swap;
}

/* --- Great Vibes (Decorative) --- */

@font-face {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
    font-display: swap;
}
