/* Mobile */
@media (max-width: 767px) { }

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) { }

/* Small laptop */
@media (min-width: 1024px) and (max-width: 1279px) { }

/* Laptop / Desktop */
@media (min-width: 1280px) and (max-width: 1439px) { }

/* Large screens */
@media (min-width: 1440px) { }
