{% load static %}
{% load i18n %}

<script type="application/ld+json">
[
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{% firstof seo.seo_title "LILY Beauty Salon | Köthen" %}",
    "description": "{% firstof seo.seo_description "Premium Beauty Salon in Köthen." %}",
    "url": "{{ request.build_absolute_uri }}"
  },
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "@id": "https://lily-salon.de/#organization",
    "name": "LILY Beauty Salon",
    "image": "https://lily-salon.de/static/img/logo_lily.webp",
    "telephone": "+49 157 32527901",
    "priceRange": "$$",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Schalaunische Str. 31",
      "addressLocality": "Köthen",
      "postalCode": "06366",
      "addressCountry": "DE"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 51.7523,
      "longitude": 12.1161
    },
    "url": "https://lily-salon.de",
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday"
        ],
        "opens": "09:00",
        "closes": "18:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Saturday",
        "opens": "09:00",
        "closes": "14:00"
      }
    ],
    "sameAs": [
      "https://www.facebook.com/lilybeautysalonkoethen/",
      "https://www.instagram.com/lily_beauty_salon_koethen/"
    ],
    "potentialAction": {
      "@type": "ReserveAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "https://lily-salon.de/{{ LANGUAGE_CODE }}/booking/",
        "inLanguage": "{{ LANGUAGE_CODE }}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "result": {
        "@type": "Reservation",
        "name": "{% trans "Online-Terminbuchung" %}"
      }
    },
    "hasOfferCatalog": {
      "@type": "OfferCatalog",
      "name": "{% trans "Beauty Services" %}",
      "itemListElement": [
        {% if bento.hair %}
        {
          "@type": "OfferCatalog",
          "name": "{{ bento.hair.title }}",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "{{ bento.hair.title }}",
                "url": "https://lily-salon.de{% url 'service_detail' slug=bento.hair.slug %}"
              }
            }
          ]
        }{% if bento.nails or bento.face or bento.eyes or bento.body or bento.hair_removal %},{% endif %}
        {% endif %}
        {% if bento.nails %}
        {
          "@type": "OfferCatalog",
          "name": "{{ bento.nails.title }}",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "{{ bento.nails.title }}",
                "url": "https://lily-salon.de{% url 'service_detail' slug=bento.nails.slug %}"
              }
            }
          ]
        }{% if bento.face or bento.eyes or bento.body or bento.hair_removal %},{% endif %}
        {% endif %}
        {% if bento.face %}
        {
          "@type": "OfferCatalog",
          "name": "{{ bento.face.title }}",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "{{ bento.face.title }}",
                "url": "https://lily-salon.de{% url 'service_detail' slug=bento.face.slug %}"
              }
            }
          ]
        }{% if bento.eyes or bento.body or bento.hair_removal %},{% endif %}
        {% endif %}
        {% if bento.eyes %}
        {
          "@type": "OfferCatalog",
          "name": "{{ bento.eyes.title }}",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "{{ bento.eyes.title }}",
                "url": "https://lily-salon.de{% url 'service_detail' slug=bento.eyes.slug %}"
              }
            }
          ]
        }{% if bento.body or bento.hair_removal %},{% endif %}
        {% endif %}
        {% if bento.body %}
        {
          "@type": "OfferCatalog",
          "name": "{{ bento.body.title }}",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "{{ bento.body.title }}",
                "url": "https://lily-salon.de{% url 'service_detail' slug=bento.body.slug %}"
              }
            }
          ]
        }{% if bento.hair_removal %},{% endif %}
        {% endif %}
        {% if bento.hair_removal %}
        {
          "@type": "OfferCatalog",
          "name": "{{ bento.hair_removal.title }}",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "{{ bento.hair_removal.title }}",
                "url": "https://lily-salon.de{% url 'service_detail' slug=bento.hair_removal.slug %}"
              }
            }
          ]
        }
        {% endif %}
      ]
    }
  }
]
</script>
