<!-- Schema.org JSON-LD for LocalBusiness -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "@id": "https://lily-salon.de/#organization", {# Уникальный идентификатор для вашего салона #}
  "name": "LILY Beauty Salon",
  "image": "{% static 'img/logo_lily.webp' %}",
  "url": "https://lily-salon.de/", {# Убедитесь, что это ваш основной домен #}
  "telephone": "+4917659423704",
  "email": "info@lily-salon.de",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Lohmannstraße 111",
    "addressLocality": "Köthen (Anhalt)",
    "postalCode": "06366",
    "addressCountry": "DE"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "51.7583", {# Замените на точные координаты вашего салона #}
    "longitude": "11.9708" {# Замените на точные координаты вашего салона #}
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "09:00",
      "closes": "18:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "10:00",
      "closes": "16:00"
    }
  ],
  "priceRange": "$$", {# Укажите примерный ценовой диапазон: $, $$, $$$ #}
  "sameAs": [
    "{{ site_settings.instagram_url|default:'https://www.instagram.com/lily_beauty_salon_koethen/' }}", {# Замените на актуальные ссылки #}
    "https://www.facebook.com/lilybeautysalonkoethen/" {# Замените на актуальные ссылки #}
  ],
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Beauty Services",
    "itemListElement": [
      {
        "@type": "OfferCatalog",
        "name": "Hair Services",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Haircuts"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Hair Coloring"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Hair Treatment"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Nail Services",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Manicure"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Pedicure"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Nail Extensions"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Cosmetology",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Facial Treatments"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Skin Cleaning"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Brows & Lashes",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Brow Shaping"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Lash Extensions"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Depilation",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Hair Removal"
            }
          }
        ]
      }
    ]
  }
}
</script>
